body{
    background: rgb(209, 139, 221);
    font: normal 15pt arial;
}

header {
    color: rgb(70, 11, 85);
    text-align: center;
}

section {
    background-color: #a03bb9;
    border: 1px solid #00a97f;
    border-radius: 6px;
    padding: 25px 25px 0 25px;
  }


footer {
    color: rgb(93, 59, 109);
    text-align: center;
    font-style: italic;
}